<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>661513001372-uoieva6mfa2dukg8ooqchagcs97bo6hn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.661513001372-uoieva6mfa2dukg8ooqchagcs97bo6hn</string>
	<key>API_KEY</key>
	<string>AIzaSyA13ESGSHvc4nWEMT9UKFViNJ12qmfWkpg</string>
	<key>GCM_SENDER_ID</key>
	<string>661513001372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.max.contacts</string>
	<key>PROJECT_ID</key>
	<string>max-contacts</string>
	<key>STORAGE_BUCKET</key>
	<string>max-contacts.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:661513001372:ios:b7dc94aa3406cebdd69059</string>
</dict>
</plist>